<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4 border-bottom">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Home(H-JPA)</a></li>
            <li class="nav-item"><a href="/study/list" class="nav-link">공부기록</a></li>

            <li class="nav-item"><a href="/member/list" class="nav-link">회원목록</a></li>

            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <!-- 로그인 상태가 아닐 때 로그인 및 회원가입 버튼 표시 -->
            <button type="button" class="btn btn-outline-primary me-2" th:if="${principal == null}" onclick="location.href='/login/login'">로그인</button>
            <button type="button" class="btn btn-primary" th:if="${principal == null}" onclick="location.href='/member/insert'">회원가입</button>

            <!-- 로그인 상태일 때 로그아웃 버튼 표시 -->
            <button type="button" class="btn btn-outline-secondary" th:if="${principal != null}" onclick="location.href='/logout'">로그아웃</button>
        </div>
    </header>
</div>